<nav class="navbar navbar-light navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" routerLink=""><img src="https://cdn.iconscout.com/icon/free/png-256/twitch-9-457969.png"></a>
    <a class="navbar-brand mx-5 px-5" routerLink="" id="logo"><img src="https://fontmeme.com/permalink/181017/6eb4a14d024f5f7d0b8d541be51daf16.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"></button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto" id="navtext">
        <li class="nav-item">
          <button class="btn btn-outline-dark btn-outline-secondary" aria-pressed="true" routerLink="/user/112731427" type="button" id="button1"><i class="material-icons">
              account_circle
            </i> <br><strong>Profilo</strong></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-dark btn-outline-secondary" aria-pressed="true" routerLink="" type="button" id="button2"><i class="material-icons">
              videogame_asset
            </i> <br> <strong>Sfoglia Giochi</strong></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
